body {
  background: #616161;
  color: #303030;
  font-family: 'Segoe UI';
}

label {
  width: 5%;
  display: inline-block;
  text-align: right;
}

input {
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message {
  color: #979595;
}

.topNav {
  position: absolute;
  top: 0;
  height: 50px;
  width: 60px;
}

#Chat {
  background: #949494;
  border-radius: 1%;
}

#BackButton {
  top: 100%;
}

#logo {
  left: 0%; 
}

#homeButn0 {
  left: 20%;
}

#homeButn1 {
  left: 40%;
}

#homeButn2 {
  left: 60%;
}

#homeButn3 {
  left: 80%;
}

#topbar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
}

#sideBar {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 90px;
}

#NameLabel {
  position: absolute;
  top: 15%;
  left: 10px;
  color: #d4d4d4;
}

#RecentGroup {
  position: absolute;
  left: 10px;
  top: 35%;
  color: #d4d4d4;
}


#nameLabelBox {
  position: absolute;
  left: 0px;
  top: 34%;
  height: 90px;
  width: 90px;
  border-radius: 25%;
}

.Title {
  font-size: 300%;
  font-family: 'Segoe UI';
  background: #1e5a80;
  border-radius: 5%;
}

button {
  color: #000000;
  background: #00849e;
  border-radius: 10%;
  border-width: 3px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #e3e3e3;
}