body {
  background: #616161;
  color: #303030;
  font-family: 'Segoe UI';
}

label {
  width: 5%;
  display: inline-block;
  text-align: right;
}

input {
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message {
  color: #979595;
  left: 40%;
}

/* Settings begin */
.settingsSideBar {
  position: absolute;
  left: 0%;
  height: 7%;
  width: 7%;
}

.settingsAbout {
  position:absolute;
  left: 15%;
  top: 30%;
  align-content: center;
  color: #919191;
}

#settingsButn0 {
  top: 17%; 
}

#settingsButn1 {
  top: 32%; 
}

#settingsButn2 {
  top: 47%; 
}

#settingsButn3 {
  top: 62%; 
}

#settingsButn4 {
  top: 77%;
}

#settingsCanvas {
  position: absolute;
  left: 12%;
  top: 30%;
  width: 50%;
  height: 40%;
}

#settingsCanvas2 {
  position: absolute;
  left: 12%;
  top: 30%;
  width: 50%;
  height: 40%;
}

#settingsText4 {
  top: 35%;
}

#settingsText5pt1 {
  top: 35%;
}

#settingsText5pt2 {
  top: 40%;
}

#settingsText5pt3{
  top: 45%;
}

#settingsButnLearnMore {
  left: 15%;
  top: 45%;
}

/* Settings end */

.topNav {
  position: absolute;
  top: 0;
  height: 50px;
  width: 60px;
}

#BackButton {
  top: 100%;
}

#logo {
  left: 0%; 
}

#homeButn0 {
  left: 20%;
}

#homeButn1 {
  left: 40%;
}

#homeButn2 {
  left: 60%;
}

#homeButn3 {
  left: 80%;
}

#topbar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
}

#sideBar {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 7%;
}

#NameLabel {
  position: absolute;
  top: 15%;
  left: 10px;
  color: #d4d4d4;
  width: 6%;
}

#RecentGroup {
  position: absolute;
  left: 10px;
  top: 35%;
  color: #d4d4d4;
}

#CurrentWeather {
  position: absolute;
  top: 67%;
  left: 9px;
  color: #d4d4d4;
  width: 6%;
}

#nameLabelBox {
  position: absolute;
  left: 10px;
  top: 34%;
  height: 90px;
  width: 6%;
  border-radius: 25%;
}

#weatherBox {
  position: absolute;
  left: 10px;
  top: 64%;
  height: 90px;
  width: 6%;
  border-radius: 25%;
}

.Title {
  font-size: 300%;
  font-family: 'Segoe UI';
  background: #1e5a80;
  border-radius: 5%;
}

button {
  color: #000000;
  background: #00849e;
  border-radius: 10%;
  border-width: 3px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #e3e3e3;
}


/* Chatroom */

#Chat {
  background: #949494;
  border-radius: 1%;
}