body {
  background: #616161;
  color: #303030;
  font-family: 'Segoe UI';
}

label {
  width: 5%;
  display: inline-block;
  text-align: right;
}

input {
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message {
  color: #979595;
}

#Chat {
  background: #949494;
  border-radius: 1%;
}

#BackButton {
  top: 100%;
}

#NameLabel {
  position: absolute;
  left: 3%;
  top: 15%;
  color: #d4d4d4;
}

.topNav {
  position: absolute;
  top: 0;
  height: 50px;
  width: 60px;
  
}

#logo {
  left: 0%; 
}

#homeButn0 {
  left: 15%;
}

#homeButn1 {
  left: 35%;
}

#homeButn2 {
  left: 55%;
}

#homeButn3 {
  left: 75%;
}

#topbar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
}

#sideBar {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 15%;
}

.Title {
  font-size: 300%;
  font-family: 'Segoe UI';
  background: #1e5a80;
  border-radius: 5%
}

button {
  color: #000000;
  background: #00849e;
  border-radius: 10%;
  border-width: 3px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #e3e3e3;
}